<div style="
background-color: #dfe6e9; 
width: 30em;
height: auto;
margin: left;
border: 1px solid black;
font-size: 20px;
font-family: sans-serif;
box-shadow: 5px 5px 5px black;
">
<div style="
padding: 5px;
margin: 5px;
border: 1px solid black;
display: inline-block;
">
    <h3 style="margin: 0px;">Pedido Vendedor <strong>401</strong></h3>
    <h5 style="margin: 0px;">Nombre: Gonzalo</h5>
    <h5 style="margin: 0px;">apellido: Re</h5>
</div>
<div style="
padding: 5px;
display: inline-block;
">
<table style="
border: 1px solid black;
border-collapse: collapse;
width: 30em;
">
    <tr">
        <th style="
        border: 1px solid black;
        border-collapse: collapse;
        text-align: left;
        padding: 3px;
        "
        >Titulo</th>
        <th style="
        border: 1px solid black;
        border-collapse: collapse;
        text-align: left;
        padding: 3px;
        ">Edicion</th>
        <th style="
        border: 1px solid black;
        border-collapse: collapse;
        text-align: left;
        padding: 3px;
        ">Cantidad</th>
    </tr>
    <tr>
        <td style="
        border: 1px solid black;
        border-collapse: collapse;
        padding: 3px;
        ">Julio Verne</td>
        <td style="
        border: 1px solid black;
        border-collapse: collapse;
        padding: 3px;
        ">1</td>
        <td style="
        border: 1px solid black;
        border-collapse: collapse;
        padding: 3px;
        ">3</td>
    </tr>
    <tr>
        <td style="
        border: 1px solid black;
        border-collapse: collapse;
        padding: 3px;
        ">Julio Verne</td>
        <td style="
        border: 1px solid black;
        border-collapse: collapse;
        padding: 3px;
        ">1</td>
        <td style="
        border: 1px solid black;
        border-collapse: collapse;
        padding: 3px;
        ">3</td>
    </tr>

</table>

<div>
    <p>
        Saludos, Gonzalo Re. <br>
        <strong>Domingo Juan Taleti S.A.</strong> 
    </p>
</div>

</div>
    
</div>